div {
  border: 2px rgb(19, 138, 39) solid;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
  margin: 0px;
}

.first, .footer {
  background-color: #1F2937;
  color: white;
  padding-left: 128px;
  padding-right: 128px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header {
  margin: 8px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  margin: 8px;
}
.main {
  display: flex;
  padding-bottom: 64px;
}

.big-text {
  font-size: 48px;
  font-weight: bolder;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 4px;
  font-size: medium;
  padding: 4px 12px;
}

.submain {
  flex: 1;
}

.bigpic {
  flex: 1;
}
